<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find dual_arm_control)/config/dual_arm_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/mobile_dual_arm" args="joint_state_controller
					  r_joint1_position
					  r_joint2_position
					  r_joint3_position
					  r_joint4_position
					  r_joint5_position
					  r_joint6_position
					  r_joint7_position
					  l_joint1_position
					  l_joint2_position
					  l_joint3_position
					  l_joint4_position
					  l_joint5_position
					  l_joint6_position
					  l_joint7_position
					  r_slide_position
					  l_slide_position
					  r_suction_joint_position
					  l_suction_joint_position"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/mobile_dual_arm/joint_states" />
  </node>

</launch>

 	
