SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A5052MJD", MODE="0666", SYMLINK+="wrs/arm_right"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A105HPEH", MODE="0666", SYMLINK+="wrs/arm_left"
