<?xml version="1.0" ?>

<launch>
    <arg name="en_sim" default="false"  />
    <arg name="side"   default="right" />
    <arg name="ID"     default="1" />
    
    <group ns="$(arg side)_$(arg ID)">
	    <node name="manipulator_h_manager" pkg="manipulator_h_manager" type="manipulator_h_manager" output="screen">
            <param name="en_sim"                   value="$(arg en_sim)" />
            <param name="side"                     value="$(arg side)" />
            <param name="robot_file_path"          value="$(find manipulator_h_manager)/config/ROBOTIS_$(arg side).robot" />
            <param name="gazebo_robot_name"        value="mobile_dual_arm" />
            <param name="offset_table"             value="$(find manipulator_h_manager)/config/offset.yaml" />
            <param name="init_file_path"           value="$(find manipulator_h_manager)/config/dxl_init.yaml" />
            <param name="link_file_path"           value="$(find manipulator_h_kinematics_dynamics)/config/link_param_$(arg side).yaml" />
        </node>

          <!-- <node pkg="manipulator_h_gui" type="manipulator_h_gui" name="$(arg side)_gui" output="screen">
                <param name="robot_name"             value="$(arg side)_arm"/>
          </node>

          <node pkg="linear_motion" type="linear_z" name="slide_$(arg side)" output="screen" unless="$(arg en_sim)">
                <param name="side"               value="$(arg side)" />
		        <param name="en_sim"             value="$(arg en_sim)" />
          </node> -->
    </group>
</launch>
